#bkgd-gif {
/*	margin:0px;
	width:110%;
	left:-10px;
	padding:0px;
	height:auto;
	position:fixed;
	z-index:-20;*/
	z-index:-20;
}

#bkgd-filter {
	top: 0px;
	position: absolute;
	background-color: rgba(44, 45, 122,0.7);
	z-index:-15;
	height:703px;
}

.bkgd {
	top: -180px;
	width:110%;
	left:-10px;
	padding:0px;
	height:auto;
	position:fixed;
}

.container2 {
	margin-top: 0px;
	top: 700px;
	position: absolute;
	z-index:-15;
	height: 500px;
	width: 100%;
	background-color: #2c2d7a;
}

.download {
	top: 700px;
	margin-top: 0px;
	position: absolute;
	text-align: center;

	z-index:0;
	height: 200px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	background-color: #12133f;
}

#download-url:hover {
	border:1px solid white;
	border-radius: 0px;
}

#download-url{
	width:200px;
	padding: 19px;
	text-decoration: none;
}

.downloadtext {
	margin-top: 90px;
	text-align: center;
	color: #6d6fb0;
}

.pretext{
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	color: #6d6fb0;
	padding-left: 50px;
	padding-top: 700px;
}

.landingtext{
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color: #f1e28b;
	padding-left: 50px;
	margin-top: -15px;
	font-weight:900;
}
