/*CSS variables*/
:root {
	--lig-bp: #2c2d7a;
	/* primary */
	--dar-bp: #12133f;
	/* secondary */
}

/*global properties*/
* {
	color:inherit;
	/*top:-5px;*/
	/*position:relative;*/
}
.menubar {
	/*position: absolute;*/
	/* position:relative; */
	/*right:20px;*/
	/* left:50%; */
	/* top:22px; */
	/*width:70%;*/
	/*display: inline-block;*/
	/*vertical-align:inherit;*/
	align-self: flex-end;
	/*float:right;*/
	display:flex;
	justify-content: flex-end;/*space-between;*/
}

.menuitem {
	/*margin:50px;*/
	/*vertical-align:inherit;*
	/*align-self: center;*/

	font-family: 'Raleway', sans-serif;
	font-size:25px;
	/* display:flex; */
	padding-left:5px;
	padding-right:5px;
	/*padding-top:10px;*/
	/*padding-left:10px;
	padding-right:10px; */
	margin: auto;
	/* padding-left:30px;
	padding-right:30px; */
	/*fix for window width adjustment (<575px) - responsive*/

	/*width:50%;*/
	/*flex:auto;*/
}
/*

.header-bar {
	display:flex;
	display:inline-block;
	width:100%;
	align-items:center;
}*/

.header-bar {
	background-color: white;
}

.content {
	position:relative;
	padding-top: 30px;
}

#title {
	position:relative;
	/*vertical-align:inherit;*/
	display: inline-block;
	/*align-self: center;*/
	/* top:100px; */
	padding-top:0px;
	/*font-size:50px;*/
	font-size:35px;
	/*width:60%;*/
	float:left;
	/*order:1;*/
	color:var(--dar-bp);
}

@media screen and (min-width: 1130px) {
	#title {
		width:60%;
	}
}

@media screen and (min-width: 995px) {
	#title {
		width:50%;
	}
}

@media screen and (min-width: 782px) {
	#title {
		width:40%;
	}
}

@media screen and (min-width: 600px) {
	#title {
		width:20%;
	}
}


/*

hr {
	position:absolute;
  height: 3px;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
  }*/

/*
#about:hover ~ hr {
  margin-left: 25%;
}

#team:hover ~ hr {
  margin-left: 50%;
}

#network:hover ~ hr {
  margin-left: 75%;
}

#home {
	order:2;
}*/

#about {
	order:3;
	color:var(--dar-bp);
}

#team {
	order:4;
	color:var(--dar-bp);
}

#network {
	order:5;
	color:var(--dar-bp);
font-weight:900;
/*text-shadow: 0px 1px, 1px 0px, 1px 0px;*/
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

p {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 16px;
}

a {
	/*color: white;*/
	text-decoration-line: none;
}

.content, .header-bar {
}

.menuitem a:hover {
	text-decoration-line: underline;
}

body {
	background-color: var(--dar-bp);
	/*padding:10px;*/
	padding-top: 3px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 0px;
	overflow-x:hidden;
}

.top-thing {
	background-color:white;
	position:absolute;
	z-index:0;
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}

.logo{
	/* order: 1; */
	width: 70px;
	height: 70px;
	margin-left:0px;
	margin-right:10px;
	padding-left:0px;
	padding-right:10px;
	/* margin-left: -100px; */
	/* display:flex; */
}

.container {
	z-index:100;
}

.pretext{
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	color: #6d6fb0;
	padding-left: 50px;
	padding-top: 700px;
}

.landingtext{
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: #f1e28b;
	padding-left: 50px;
	margin-top: -15px;
}

.everything {
	background-color: var(--dar-bp);
	height:150vh;
	width:100vw;
	z-index:-200;
	position:absolute;
	top:0px;
	left:0px;
}
