#bkgd-gif {
/*	margin:0px;
	width:110%;
	left:-10px;
	padding:0px;
	height:auto;
	position:fixed;
	z-index:-20;*/
	z-index:-20;
}

#bkgd-filter {
	top: 0px;
	position: absolute;
	background-color: rgba(44, 45, 122,0.6);
	z-index:-15;
	height:630px;
}

.bkgd {
	top: -180px;
	width:110%;
	left:-10px;
	padding:0px;
	height:auto;
	position:fixed;
}
