/*CSS variables*/
:root {
	--lig-bp: #2c2d7a;
	/* primary */
	--dar-bp: #12133f;
	/* secondary */
}

#sigma-container {
	top:-30px;
	position:relative;
	height:100%;
	width: 100%;
	/*background-color: white;*/
	z-index:1; 
}

.content {
	height:100vh;
}
/*
.header-bar {
	border-bottom-color: var(--dar-bp);
}

*/

.floater {
	position:fixed;
	bottom:-10px;
	left:0px;
	width:400px;
	height:275px;
	display: inline-block;
	/*border:5px dashed red;*/
	background: radial-gradient(farthest-corner at 250px 200px, rgba(18,19,63,1) 0%, rgba(18,19,63,0.5) 30%, rgba(18,19,63,0) 70%);
	/*background: radial-gradient(farthest-corner at 200px 138px, rgba(109,111,176,1) 0%, rgba(109,111,176,0.5) 30%, rgba(109,111,176,0) 70%);*/
	word-wrap: break-word;
	z-index:100;
}

.float-text {
	left:30%;
	top:70px;
	width: 50%;
	display: inline-block;
	position: relative;
}

body {
	/*background-color: var(--dar-bp);*/
	overflow:hidden;
}