/*CSS variables*/
:root {
	--lig-bp: #2c2d7a;
	/* primary */
	--dar-bp: #12133f;
	/* secondary */
}

/*global properties*/
* {
	color:inherit;
	/*top:-5px;*/
	/*position:relative;*/
}
.menubar {
	/*position: absolute;*/
	position:relative;
	/*right:20px;*/
	/*left:50%;*/
	top:22px;
	/*width:70%;*/
	/*display: inline-block;*/
	/*vertical-align:inherit;*/
	align-self: flex-end;
	/*float:right;*/
	display:flex;
	justify-content: flex-end;/*space-between;*/
}

.menuitem {
	/*margin:50px;*/
	/*vertical-align:inherit;*/
	/*align-self: center;*/
	font-family: 'Raleway', sans-serif;
	font-size:25px;
	display:flex;
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
  padding-right:10px;
	/* padding-left:30px;
  padding-right:30px; */
	color:yellow;
	/*fix for window width adjustment (<575px) - responsive*/

	/*width:50%;*/
	/*flex:auto;*/
}

.bmenuitem {
	/*margin:50px;*/
	/*vertical-align:inherit;*/
	/*align-self: center;*/
	font-weight:900;
	font-family: 'Raleway', sans-serif;
	font-size:25px;
	display:flex;
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
  padding-right:10px;

	color:var(--dar-bp);
	/*fix for window width adjustment (<575px) - responsive*/

	/*width:50%;*/
	/*flex:auto;*/
}


.header-bar {
	display:flex;
	display:inline-block;
	width:100%;
	/*vertical-align:middle;*/
	align-items:center;
	/*background-color: white;*/
}

.content {
	position:relative;
	padding-top: 30px;
}

#title {
	/*position:absolute;*/
	/*vertical-align:inherit;*/
	display: inline-block;
	/*align-self: center;*/
	top:-25px;
	/*top:0px;*/
	/*font-size:50px;*/
	font-size:28px;
	/*width:53%;*/
	float:left;
	/*order:1;*/
	color:var(--dar-bp);
}
/*

hr {
	position:absolute;
  height: 3px;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}*/

/*
#about:hover ~ hr {
  margin-left: 25%;
}

#team:hover ~ hr {
  margin-left: 50%;
}

#network:hover ~ hr {
  margin-left: 75%;
}

#home {
	order:2;
}*/

#about {
	order:3;
	color:var(--dar-bp);
}

#team {
	order:4;
	color:var(--dar-bp);
}

#network {
	order:5;
	color:var(--dar-bp);
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

p {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 16px;
}

a {
	/*color: white;*/
	text-decoration-line: none;
}

.content, .header-bar {
}

.menuitem a:hover {
	text-decoration-line: underline;
}

body {
	background-color: var(--dar-bp);
	/*padding:10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	overflow:hidden;
}

.top-thing {
	background-color:white;
	position:absolute;
	z-index:-10;
	top:0px;
	left:0px;
	width:100%;
	height:100px;
}

.logo{
	/* order: 1; */
	width: 5%;
	height: 5%;
	margin-left:3px;
  margin-right:3px;
	padding-left:3px;
  padding-right:3px;
	/* margin-left: -100px; */
	/* display:flex; */
}
