{% load static %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Home | Linx</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'style-home.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500|Raleway&display=swap">

  <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" cross-origin='anonymous' rel="stylesheet">
  <link href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="everything">
    <!-- Navigation -->
    <nav class="navbar navbar-light static-top header-bar">
      <div class="container">
        <img class="logo" src="{% static 'img/linx.svg' %}">
        <h1 id="title"><a href="{% url 'index' %}">linx</a></h1>

        <span class="menuitem text-cool" id="about"><a href="{% url 'about' %}" class="text-cool">the idea</a></span>
        <!-- <span class="menuitem text-primary" id="team"><a href="{% url 'team' %}">the team</a></span> -->
        <span class="menuitem" id="network"><a href="{% url 'network' %}">network</a></span>
      </div>
    </nav>
    {% block body%}
    {% endblock %}
  </div>
</body>
</html>
