{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="bkgd">
  <img src="{% static 'img/bkgd.gif' %}" id="bkgd-gif" />
  <div id="bkgd-filter"></div>
</div>

<div class="content push-down">
  <span class="pretext">the decentralized, self-healing</span>
  <br/>
  <span class="landingtext">networking framework</span>
</div>

<div class="download">
  <a id="download-url" href="https://github.com/TheAvidDev/linx">D O W N L O A D</a>
</div>

<div class="footish">
  <p id="aut">This project was created by Steven Guikal, Justin Lu, Aava Sapkota, Celeste Luo, and Justin Zhu, a group of passionate tech students.</p>
</div>
{% endblock %}