{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="content" style="width:100%">
    <div class="floater">
        <div class="float-text">
            <h3 id="float-title">the network</h3>
            <p style="font-size:16px">A sample network. Hover the mouse over nodes to see its role in the network.</p>
        </div>
    </div>
    <div id="sigma-container"></div>

    <script src="sigma.js\sigma.min.js"></script>
    <script src="script.js"></script>
</div>
{% endblock %}